<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Umbennen</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="modalRename.closeRename()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="modalRename.okRename()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="modalRename.newName">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Umbennen</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
