<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Verschieben</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="modalMove.closeMove()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="modalMove.okMove()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Ordnername</span>
          <input type="text" ng-model="modalMove.newName">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Verschieben</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
