<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Neue EMail</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="modalNew.closeNew()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="modalNew.okNew()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Sender</span>
          <input type="text" ng-model="modalNew.newMail.sender">
        </label>
        <label class="item item-input">
          <span class="input-label">Betreff</span>
          <input type="text" ng-model="modalNew.newMail.subject">
        </label>
        <label class="item item-input">
          <span class="input-label">Empfänger</span>
          <input type="text" ng-model="modalNew.newMail.rec">
        </label>
        <label class="item item-input">
          <span class="input-label">Ordner</span>
          <input type="text" ng-model="modalNew.newMail.folder">
        </label>
        <label class="item item-input">
          <span class="input-label">Text</span>
          <input type="text" ng-model="modalNew.newMail.text">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Erzeugen</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
